<html>
    <head>
        <title>sign in</title>
    </head>
    <body>
        <form action="/registrati">
            <label for="email">Email:<label></label>
            <input type="text" id="email" name="email" required><br>
            <label for="CF">CF:<label></br>
            <input type="text" id="CF" name="CF" required><br>
            <label for="passw">Password:</label><br>
            <input type="password" id="passw" name="passw" required><br>
            <input  type="submit" value="registrati">
        </form>
    </body>
</html>